{
  "root": true,
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:recommended", "prettier"],
  "parserOptions": {
    "sourceType": "module"
  },
  "overrides": [
    {
      "files": ["{src,tests}/**/scripts/**/*.js"],
      "parserOptions": {
        "sourceType": "script",
        "ecmaVersion": "latest",
        "ecmaFeatures": {
          "impliedStrict": true
        }
      }
    },
    {
      "files": ["{src,tests}/**/*.{ts,tsx}"],
      "extends": ["plugin:@typescript-eslint/recommended"],
      "parser": "@typescript-eslint/parser",
      "parserOptions": { "project": "./tsconfig.json" }
    },
    {
      "files": ["{src,tests}/**/*.tsx"],
      "extends": ["plugin:react/recommended", "plugin:react-hooks/recommended"],
      "settings": {
        "react": {
          "version": "detect"
        }
      },
      "rules": {
        "react/prop-types": "off",
        "react/jsx-uses-react": "off",
        "react/react-in-jsx-scope": "off"
      }
    }
  ]
}
